{% extends 'layouts/base.html' %}
{% block title %} change password {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center col-md-12">
  <div class="card">
    <div class="card-body">
      <h3 class="text-primary">Change Password</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <label for="id_old_password" class="bmd-label-floating">Old password:</label>
          <input type="password" name="old_password" autocomplete="current-password" autofocus class="form-control" required id="id_old_password">
          <span class="text-danger">{{ form.old_password.errors }}</span>
        </div>
        <br>
        <div class="form-group">
          <label for="id_new_password1" class="bmd-label-floating">New password:</label>
          <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1">
          <span class="text-danger">{{ form.new_password1.errors }}</span>
        </div>
        <br>
        <span class="helptext">
          <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
        </span>
        </p>
        <br>
        <div class="form-group">
          <label for="id_new_password2" class="bmd-label-floating">New password confirmation:</label>
          <input type="password" name="new_password2" autocomplete="new-password" class="form-control" required id="id_new_password2">
          <span class="text-danger">{{ form.new_password2.errors }}</span>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
