{% extends "layouts/base.html" %}
{% block title %} Gallery {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/gallery-grid.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
  <a href="{% url 'gallery' y=y %}">
  <button type="button" class="btn btn-sm btn-info btn-round">
  <i class="material-icons">arrow_back</i> Back
  </button></a>
<h3 class="text-primary text-center">{{ title }} ({{ y }})</h3>
<hr />
<div class="container tz-gallery">
  <div class="row">
    {% for img in imgs %}
    <div class="col-sm-4 col-md-3">
      <a class="lightbox" href="{{ img.image.url }}">
      <img src="{{ img.image.url }}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/slider.js" type="text/javascript"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
{% endblock javascripts %}
